@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

header {
    background-color: rgb(160, 160, 160);
    padding: 40px;
    position: relative;
}

h1 {
    text-align: center;
    padding-bottom: 20px;
    font-size: 50px;
}

nav {
    position: absolute;
    left: 0px;
    bottom: 10px;
}

nav > a {
   padding: 10px;
   margin: 1px;
   background-color: rgb(77, 76, 76);
   color: white;
   text-decoration: none;
}

main {
   background-color: white;
   font-family: Arial, Helvetica, sans-serif;
   width: 60vw;
   display: block;
   margin: auto;
   margin-top: 10px;
   border-radius: 10px;
}

h2 {
    text-align: center;
    padding-top: 5px;
}

main > p {
    padding-left: 10px;
    text-indent: 15px;
    padding: 15px;
    font-size: 19px;
}

body {
    background-color: rgb(206, 206, 206);
}